version=1
image=docker.io/library/eclipse-mosquitto
kind=infrastructure
platforms=x64;arm64
health=["CMD-SHELL","mosquitto_pub -h 127.0.0.1 -t containerizer/health -m ok"]

[ports]
default=127.0.0.1:1883:1883

[data]
data=/mosquitto/data
