version=1
image=docker.io/prom/prometheus
kind=infrastructure
platforms=x64;arm64
health=["CMD-SHELL","wget -q -O /dev/null http://127.0.0.1:9090/-/ready"]

[ports]
default=127.0.0.1:9090:9090

[data]
data=/prometheus
